/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;
	--color-gray: #949494;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
	background-color: var(--color-gray);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
}

.container {
	display: flex;
	align-items: center;
	gap: 2rem;


}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid #111 2px;
	width: 500px;
	height: 90dvh;
	border: solid rgb(209, 208, 208) 2px;
	border-radius: 50px;
	box-shadow: 10px 10px #1e1f19;
	gap: 1rem;
	background-color: var(--color-white);

}

img {
	border-radius: 120px;
	aspect-ratio: 1;
	border: solid rgb(209, 208, 208) 2px;
	box-shadow: 10px 10px #1e1f19;
	display: fix;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	border: solid #575757 1px;
	display: inline-block;
	margin: 3px;
}

.dot1 {
	background-color: #eeff00;
}

.dot2 {
	background-color: #1eff00;
}

.dot3 {
	background-color: #ff0000;
}

p {
	/* width: 50%; */
	text-align: center;
}

.text-1 {
	color: red;
	font-weight: 500;

}

.text-2 {
	margin: 20px;
}

.btn {
	display: flex;
	justify-content: space-evenly;
	width: 400px;
}

.button-1 {
	padding: 15px 25px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background-color: #04AA6D;
	border: solid #111 2px;
	border-radius: 15px;
	box-shadow: 2px 9px #d9ff2e;
}

.button-1:hover {
	background-color: #3e8e41
}

.button-1:active {
	background-color: #3e8e41;
	box-shadow: 2px 5px #666;
	transform: translateY(4px);
}

.button-2 {
	padding: 15px 25px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	color: #0011ff;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 2px 9px #ffa600;

}

.button-2:hover {
	background-color: #bdbdbd
}